//Background-color
$bg-white:white;
$bg-gray-lighten-3:#eee;
$bg-orange-accent-4:#f04e23;
$bg-gray-lighten-4:#f5f5f5;
$bg-gray-lighten-5:#f7f7f7;

//box-shadow

$bx-gray-lighten-3:#eee;

//Text-color
$text-white:white;
$text-black:black;
$text-red:red;
$text-pink-accent-4:#9f224e;
$text-blue-darken-2:#188bb8;
$text-green-darken-2:#61bc48 !important ;
$text-gray:#9a9898 ;

//Border
$bd-gray-lighten-3:#cccccc7d;
$bd-gray-lighten-2:#ddd;
$bd-gray-lighten-1:#ccc;
$bd-green-darken-2:#61bc48;

//Font-size
$fs-10: 10px;
$fs-11: 11px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-17: 17px;
$fs-18: 18px;
$fs-19: 19px;

//font-family
$fa-sans-serif:sans-serif !important;
$fa-arial:Arial;





