@import "mixin.scss";
@import "config.scss";
#content-index{
  padding-top: 22px;
  #slide-product{
    padding-top: 15px;
    background: $bg-white;
    #slide-product-title{
      padding-top: 10px;
      position: relative;
      p{
        border-top: 1px solid $bd-gray-lighten-4;
        margin: 2px 0px;
      }
      span{
        font-size: $fs-25;
        position: absolute;
        top: 0px;
        left: 50%;
        padding: 0px 20px;
        background: $bg-white;
        font-family: $fa-time-newroman;
        text-transform: uppercase;
        transform: translateX(-50%);

      }
      .list-filter{
        margin: 20px 0px 10px;
        text-align: center;
        a{
          display: inline-block;
          padding: 5px 10px;
          margin: 0px 5px;
          color: $text-gray-darken;
          position: relative;

        }

      }
    }
    #carousel-wraper{
      width: 100%;
      overflow: hidden;
      position: relative;
      .loading-content.display-slide{
        position: absolute;
        height: 257px;
        z-index: 10000;
        display: none;
      }
      #slider-play{
        #hot{
          display: block;
          @include product-slider;
        }
        #new{
          display: none;
          @include product-slider;


        }
      }

    }


  }
  #showCate{
    @include show_cate_item;


  }

}